NODE_ENV=
PORT=
JWT_PUBLIC_KEY=
JWT_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
DB_HOST_ORA=
DB_PORT_ORA=
DB_USER_ORA=
DB_PASS_ORA=
DB_NAME_ORA=
ORACLE_INSTANT_CLIENT_PATH=
API_BASE_PATH=
RATE_LIMIT_TTL=
RATE_LIMIT_REQUESTS=
ENABLE_OPENAPI=
ENABLE_TYPEORM_LOGS=
MAX_FILE_SIZE=
ALLOWED_MIME_TYPES=
